{% extends "pg_app/base.html" %}
{% block body %}
          
<div class="banner" style="text-align: center; padding: 30px">
    <h1>Your tasks, organized and simplified.</h1>
    <p>Stay Organized, Stay Productive: Manage Your Tasks with Ease.</p>
</div>
      
{% if user.is_authenticated %}
    <div style="text-align: center; margin-top: 20px;">
    <p>Welcome, {{ user.username }}!</p>
    <p><a href="{% url 'password_change' %}">Change Password</a> | <a href="{% url 'logout' %}">Logout</a></p>
{% endif %}

<h1>Create Task</h1>
<form method="post">
    {% csrf_token %}
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title"><br>
    <label for="description">Description:</label><br>
    <textarea id="description" name="description"></textarea><br>
    <input type="submit" value="Create Task">
</form>

{% endblock %}
